
.name,.name1
{
	text-align:center;
  padding-top:20px;
	font-weight:bold;
	font-size:18px;
}

  .sidemenu
 {
	 list-style-type:none;
	 display:block;
	 font-size:18px;
	 padding-top:20px;
	 padding-right:15px;
 }
 .label-keyword
 {
 display: inline-block;
background: #7eb0db;
color: white;
font-size: 0.9em;
padding: 5px;
border: 1px solid #357ebd;
margin-right: 5px;
 }
.headers
{
	 font-size:14px;
	 font-weight:bold;
	 color:#000;
	 margin-right:20px;
}
.headers  span
{
	 margin-right:10px;
}

.main{
	display: flex;
	flex-wrap: wrap;
	background-color: #F5F39E;

}

.left{
	width:35%;
	border-radius: 10px;
	background-color: #EDF7D3;
   text-align: center;
}
.right {
	width: 62%;
	background-color: #EDF7D3;
	border-radius: 10px;
	margin-left: 10px;
}
 .bio img{
  border-radius: 25px;

  width: 30%;
	height: 40%;

}

body{
	background: #F1C2B7;
}
div{
	padding: 5px;
}

@media screen and (max-width: 1024px){

.main{
	background-color: #F5F39E;

}
	.left{
		width: 100%;
		display: flex;
		font-size: 20px;
}

.bio{
	width:50%;
}
.sidemenu{
	width:50%;
	margin-top: 2em;
}
.right{
	width:100%;
	margin-top: 20px;
}

}



@media screen and (max-width: 760px){

    .main{
    	width: 100%;
    }
    .left{
    	width: 100%;
    	display:flex;
    	font-family: Verdana;
      background-color: #C2DFFF;

    }
    .sidemenu{
    	flex-wrap:wrap;
    	margin-top: 0%;
    }
    .bio img{
    	height: 30%;
    }
    .right{
    	width: 100%;
    	font-family: Verdana;
        background-color: #C2DFFF;
    }

   }


 .img img{
  border-radius: 25px;
  height: auto;
  width: 100%;
}
body{
  background-color: #99C68E;
}
